#map {
    
    height: calc(100vh - 100px);
}

#loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 9999;
    display: none;
}




.model-symbol {
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  border: 1px solid #333;
}

#infoBox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 8px 12px;
    border: 1px solid #666;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    text-align: left;
    width: 300px;
  }

.infoText{
    padding-bottom: 1em;
}

#sidebar {
    position: absolute;
    top: 20px;
    left: 35px;
    width: calc(100vw * 0.125);
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#sidebar label {
    display: block;
    margin: 5px 5;
    text-align: left;
    font-size: 1.3em;
}

.sidebarmenu {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}
#legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 10px;
  font-size: 12px;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  line-height: 1.5em;
  z-index: 1000;
}
#legend div {
  display: flex;
  align-items: center;
}
#legend span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.8;
}